[Unit]
Description=OCPP Core Server
Requires=docker.service
After=docker.service

[Service]
Type=simple
User=ocpp
Group=nogroup
WorkingDirectory=/usr/local/bin/ocpp.core
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
SyslogIdentifier=ocpp
Restart=always
TimeoutStartSec=0
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
